@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181c25; /* Fallback color */
  background-image: url("https://img.freepik.com/free-vector/gradient-dark-dynamic-lines-background_23-2148995950.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 100vh; /* Ensure body covers the full height */
}

/* Ensure better handling on high-resolution displays */
@media only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-image: url("https://img.freepik.com/free-vector/gradient-dark-dynamic-lines-background_23-2148995950.jpg");
  }
}

/* Optimize for small screens */
@media only screen and (max-width: 768px) {
  body {
    background-size: cover; /* Ensure the background covers the whole screen */
  }
}

/* Optimize for very small screens */
@media only screen and (max-width: 480px) {
  body {
    background-size: cover; /* Ensure the background covers the whole screen */
  }
}


#search {
  position: relative;
  display: inline-block;
  width: 100%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff19;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

select:focus {
  border-color: #007bff;
}

select option {
  background: #16161b;
}

#search::after,
#result-select::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  pointer-events: none;
}

.pointer-events-none {
  pointer-events: none;
}

#min-price,
#max-price {
  appearance: none;
  -webkit-appearance: none; /* for Safari */
  -moz-appearance: none;    /* for Firefox */
}

#min-price::after,
#max-price::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
  pointer-events: none;
}

#result {
  background: transparent;
}